*{
    margin: 0;   
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
   }
body{
    text-align: center;
    background: rebeccapurple
}
h2{
    margin: 20px,0;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
#slider-container {
    max-width: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
img {
    width: 100%;
    height:auto;
   display: block;
}
.button-container {
    margin-top: 15px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin:5px;
    cursor:pointer;
    border: none;
    transition: 0.2s;
}
button:hover {
    background: #ff4500;
}